$p-petrol-light: #177e89;
$p-petrol-dark: #085c61;
$p-yellow: #ffc857;
$p-red: #db3a34;
$p-dark: #323031;

$main-theme-color: $p-petrol-light;
$body-bg-color: #eee;
$anchor-color: $main-theme-color;
$main-text-color: $p-dark;
$border-color: $main-theme-color;
$main-bg-color: white;
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: $p-dark;
$focus-outline: lighten($main-theme-color, 30%);
$compose-background: lighten($main-theme-color, 32%);

@import "_base.scss";

$scrollbar-face: #{lighten($main-theme-color, 0%)} !default;
$scrollbar-face-hover: #{lighten($main-theme-color, 10%)} !default;
$scrollbar-face-active: #{lighten($main-theme-color, 5%)} !default;
$scrollbar-track: #{darken($body-bg-color, 5%)} !default;

@import "_scrollbars.scss";

:root {
  --action-button-fill-color: #{lighten($p-petrol-light, 0%)};
  --action-button-fill-color-hover: #{lighten($p-yellow, 0%)};;
  --action-button-fill-color-active: #{lighten($p-yellow, 5%)};
  --action-button-fill-color-pressed: #{lighten($p-red, 0%)};;
  --action-button-fill-color-pressed-hover: #{darken($p-red, 2%)};
  --action-button-fill-color-pressed-active: #{darken($p-red, 15%)};

  --nav-indicator-bg: #{$main-theme-color};
}